{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block body %}
<div class="container">
        <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Please sign up for Bootsnipp <small>It's free!</small></h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form" method='POST'>
			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                    {% render_field form.name class="form-control input-sm" placeholder="Your name"%}
			    					</div>
			    				</div>
			    			</div>

                <div class="col-xs-6 col-sm-6 col-md-6">
                  <div class="form-group">
                  {% render_field form.rname class="form-control input-sm" placeholder="Recivers name"%}
                  </div>
                </div>
			    			<div class="form-group">
                  {% render_field form.email class+="form-control input-sm" placeholder="Email Address"%}
			    			</div>

			    			<div class="row">
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                      {% render_field form.address class+="form-control input-sm" placeholder="Delivery Address" %}
			    					</div>
			    				</div>
			    				<div class="col-xs-6 col-sm-6 col-md-6">
			    					<div class="form-group">
                      {% render_field form.size class+="form-control input-sm" placeholder="Size" %}
			    					</div>
			    				</div>
			    			</div>

			    			<input type="submit" value="Continew to chkout" class="btn btn-info btn-block">

			    		</form>
			    	</div>
	    		</div>
    		</div>
    	</div>
    </div>
{% endblock %}
